<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <section class='devise'>
    <header>
      <div>
      <%= link_to  :root do %>
        <%= image_tag "icons8-back-72.png", style: 'height:20px; width:20;padding-left: 10px' %>
      <% end  %>
    </div >
      <h1>Register</h1>
      <%= f.submit "Next", class: 'btnnext' %>
    </header>
    <main>
      <%= render "devise/shared/error_messages", resource: resource %>
     
      <div class="field_name">
        <%= f.text_field :name, placeholder: 'Full name' %>
      </div>

      <div class="field_email">
        <%= f.email_field :email, placeholder: 'Email' %>
      </div>

      <div class="field_password">
        <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Password' %>
      </div>
      
    </main>
  </section>
<% end %>